---
layout: page
# The About of posts.
---


{% include lang.html %}

<div class="specialCard" id="profile-card">
  <a href="/">
    <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img" alt="non" />
  </a>
  <h1 class="profile-name">{{ site.title }}</h1>
  <p class="profile-bio">{{ site.subtitle }}</p>
  <hr class="divider" />

  {% if site.author_location %}
  <h6><a href="https://www.google.com/maps/search/?api=1&query={{ site.author_location }}"
         class="social-link"><i class="fas fa-map-marker-alt"></i> {{ site.author_location }}</a></h6>
  {% endif %} {% if site.author_email %}
  <h6><a href="mailto:{{ site.author_email }}"><i class="fas fa-envelope social-link"></i> {{
    site.author_email }}</a></h6>
  {% endif %} {% if site.author_website_url %}
  <h6><a href="{{ site.author_website_url }}"><i class="fas fa-link social-link" ></i> {{
    site.author_website_url }}</a></h6>
  {% endif %}
</div>

<div class="specialCard">
  <h1 class="specialCard-title">About Site</h1>
  <p>This site is a non-profit personal site, the main function is to record and share content related to
    me.</p>
  <p>Through the <a href="{{site.url}}{{site.baseurl}}/categories">blog</a> module, I record and share my learning notes,
    personal essay, article excerpts, and other content. Blogs include the following categories:</p>

  <ul>
    <li>
      <a href="{{site.url}}{{site.baseurl}}/categories/cs-learning-note/">Learning Note</a>
      : They are all notes I took during my learning.</li>
    <li>
      <a href="{{site.url}}{{site.baseurl}}/categories/personal-essay/">Personal Essay</a>
      : They are all my own content, including essays, articles, etc.
    </li>
    <li>
      <a href="{{site.url}}{{site.baseurl}}/categories/article-excerpt/">Article Excerpt</a>
      : They are excerpts from various books or articles, may contain some of my personal comments.
    </li>
  </ul>

  <p>Through the <a href="{{site.url}}{{site.baseurl}}/gallery">gallery</a> module, I
    record and share photos related to
    my life and travel.</p>
  <p>Please feel free to contact me through the contact information provided on this site.</p>
  <!--<p>本站是非营利性个人站点，主要功能是记录并分享与本人相关的内容。
      本人通过博客（链接）模块，记录并分享本人的学习笔记，原创内容，文章摘录等内容。通过画廊（链接）模块，
      记录并分享与本人生活、旅游等相关的照片。
      欢迎通过本站提供的联系方式与本人联系。</p>-->
</div>

{% if site.author_bio %}
<div class="specialCard">
  <h1 class="specialCard-title">About Me</h1>
  <p>I am a Software engineer from China and now I live in the UK. My Chinese name is Chang. I was
    born and raised in Yuncheng and lived there for eighteen years. Apart from my professional life, I
    am also interested in playing the piano. Nice to meet you. Welcome to talk to me!</p>
</div>
{% endif %}


{% if site.show_author_work_experiences == true %}
<div class="specialCard">
  <h1 class="specialCard-title">Work Experience</h1>
  <br />
  {% for exp in site.author_work_experiences %} {% if exp.visibility == true
  %}
  <div class="row aboutRow">
    <div class="col-sm-2 d-flex align-items-center">
      <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ exp.company_logo }}" class="company-logo"
           style="object-fit: contain; max-width: 100%; height: auto;" alt="non" />
    </div>
    <div class="col-sm-9">
      <h4 class="experience-title">{{ exp.designation }}</h4>
      <p><a href="{{exp.company_url}}">{{ exp.company_name }}</a></p>
      <p class="experience-desc">{{ exp.description }}</p>
    </div>
  </div>
  <hr class="divider" />
  {% endif %} {% endfor %}
</div>

{% endif %} {% if site.show_author_education_details == true %}
<div class="specialCard">
  <h1 class="specialCard-title">Education</h1>
  <br />
  {% for detail in site.author_education_details %} {% if detail.visibility
  == true %}
  <div class="row aboutRow">
    <div class="col-sm-2 d-flex align-items-center">
      <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ detail.college_logo }}" class="company-logo"
           style="object-fit: contain; max-width: 100%; height: auto;" alt="non" />
    </div>
    <div class="col-sm-9">
      <h4 class="experience-title">{{detail.college_degree }}</h4>
      <p><a href="{{detail.college_url}}">{{ detail.college_name}}</a></p>
      <p class="experience-desc">{{detail.description}}</p>
    </div>
  </div>
  <hr class="divider" />
  {% endif %} {% endfor %}
</div>
{% endif %}

<div class="specialCard">
  <h1 class="specialCard-title">Disclaimer</h1>
  <p>1. This blog is a personal blog and a non-profit site. All materials are provided for self-learning
    and entertainment purposes. The content uploaded on this site does not guarantee originality. All
    content may be derived from my learning notes, personal essay, a summary of the content of others,
    article excerpts, etc..</p>
  <p>2. All information and materials published on the blogs will be attributed to the source, author, and
    date as much as possible. The author has no intention to infringe upon the rights or intellectual
    property of any media or individuals. If unintentionally infringing upon the rights or intellectual
    property of any media or individuals, please notify the author, and the content will be promptly
    removed.</p>
  <p>3. The articles republished on this blog are for the purpose of disseminating information and do not
    imply agreement with the viewpoints or verification of the content's authenticity.</p>
  <p>4. When this blog recommends content from other websites via links, it does not take responsibility
    for the availability of those websites or resources, nor does it guarantee the authenticity or
    legality of any content, product, service, or other materials obtained from those websites.</p>
  <p>5. This blog shall not be liable for any direct or indirect losses or any legal disputes and
    consequences arising from the use or reliance on the content, products, services, or other materials
    obtained from websites or resources linked to by this blog, including but not limited to personal
    data breaches caused by linked websites.</p>
  <p>6. Users of this blog who violate the provisions of this disclaimer and commit unlawful acts shall
    bear all consequences themselves, and this blog shall not be held responsible.</p>
  <p>7. For any matters not covered by this disclaimer, please refer to the relevant laws and regulations
    of the country. In case of conflicts between this disclaimer and national laws and regulations, the
    latter shall prevail.</p>


  <!--<div class="card">
    <h1 class="card-title">disclaimer</h1>
    <p>1. 本博客为个人博客，非营利性站点，所有资料供自己学习及娱乐之用。本站上传的内容不保证原创性。所有的内容均可能来源于本人的学习笔记、原创内容、对他人内容的总结、文章摘录等。</p>
    <p>2. 本博客发布的所有信息资料都将尽可能注明出处、作者及日期，本人无意侵犯他人相关权益，如无意中侵犯了哪个媒体或个人的权益或知识产权，请来信告之，本人将立即给予删除。</p>
    <p>3. 本博客转载文章出于传递更多信息之目的，并不意味着赞同其观点或证实其内容的真实性。</p>
    <p>4. 当本博客以链接形式推荐其他网站内容时，本博客并不对这些网站或资源的可用性负责，且不保证从这些网站获取的任何内容、产品、服务或其他材料的真实性、合法性。</p>
    <p>5. 对于任何因使用或信赖本博客链接的网站或资源上获取的内容、产品、服务或其他材料而造成（或声称造成）的任何直接或间接损失以及由于与本网站链接的其他网站所造成之个人资料泄露及由此而导致的任何法律争议和后果，本博客均得免责。</p>
    <p>6. 本博客使用者因为违反本声明的规定而触犯法律的，一切后果自己负责，本博客不承担任何责任。</p>
    <p>7. 本站未涉及的问题参见国家有关法律法规，当本声明与国家法律法规冲突时，以国家法律法规为准。</p>
  </div>-->
</div>
{% include_cached footer.html lang=lang %}
<img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=200&t=n&d=mM_9QZSsMjaXkhD3CW2Mv_K38wLTsdpZ4_UzaxsXYeE' style="display:none;" alt="ip"/>
