---
layout: page
# The photos related to my life and travel
---

{% include lang.html %}
<style>
  .subtitle {
    font-size: 150%;
    color: var(--sidebar-muted-color);
    margin-top: 0.25rem;
    word-spacing: 1px;
  }
</style>


<section>
  <div class="subtitle">Some photos related to my travel and life</div>
  <div>
    <div class="row_grl">
      <div class="grid_glr">
        <div class="box">
          <a href="{{site.url}}{{site.baseurl}}/gallery/cat.html" class="gall_item"><img src="{{site.url}}{{site.baseurl}}/assets/img/gallery/cat.jpg"
                                                           alt=""></a>
          <div class="box_bot">
            <div class="box_bot_title">My pet cat</div>
            <p>This is my pet cat. Its name is "yu wan". The name means fish ball in Chinese. It's fat and cute. That's the cat in my profile picture.</p>
          </div>
        </div>
      </div>
<!--      <div class="grid_glr">
        <div class="box">
          <a href="{{site.url}}{{site.baseurl}}/gallery/cat.html" class="gall_item"><img src="{{site.url}}{{site.baseurl}}/assets/img/gallery/cat.jpg"
                                                                                         alt=""></a>
          <div class="box_bot">
            <div class="box_bot_title">My pet cat</div>
            <p>This is my pet cat. Its name is "yu wan". The name means fish ball in Chinese. It's fat and cute. That's the cat in my profile picture.</p>
          </div>
        </div>
      </div>
      <div class="grid_glr">
        <div class="box">
          <a href="{{site.url}}{{site.baseurl}}/gallery/cat.html" class="gall_item"><img src="{{site.url}}{{site.baseurl}}/assets/img/gallery/cat.jpg"
                                                                                         alt=""></a>
          <div class="box_bot">
            <div class="box_bot_title">My pet cat</div>
            <p>This is my pet cat. Its name is "yu wan". The name means fish ball in Chinese. It's fat and cute. That's the cat in my profile picture.</p>
          </div>
        </div>
      </div>
      <div class="grid_glr">
        <div class="box">
          <a href="{{site.url}}{{site.baseurl}}/gallery/cat.html" class="gall_item"><img src="{{site.url}}{{site.baseurl}}/assets/img/gallery/cat.jpg"
                                                                                         alt=""></a>
          <div class="box_bot">
            <div class="box_bot_title">My pet cat</div>
            <p>This is my pet cat. Its name is "yu wan". The name means fish ball in Chinese. It's fat and cute. That's the cat in my profile picture.</p>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>


