---
layout: page
# The photos related to my life and travel
---

{% include lang.html %}
<style>
  .subtitle {
    font-size: 150%;
    color: var(--sidebar-muted-color);
    margin-top: 0.25rem;
    word-spacing: 1px;
  }
</style>

<body>
<section id="content" class="gallery">
  <div class="subtitle">Some photos related to my travel and life</div>
  <div class="container">
    <div class="row_grl">
      <div class="grid_glr">
        <div class="box">
          <a href="images/big1.jpg" class="gall_item" id="avatar"><img src="{{site.url}}{{site.baseurl}}/assets/img/soton.jpg"
                                                           alt=""><span></span></a>
          <div class="box_bot">
            <div class="box_bot_title">Bliquam nibh ante</div>
            <p>Dorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet
              ultricies erat rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada
              nibh odio ut velit</p>
          </div>
        </div>
      </div>
      <div class="grid_glr ">
        <div class="box">
          <a href="images/big2.jpg" class="gall_item"><img src="{{site.url}}{{site.baseurl}}/assets/img/soton.jpg"
                                                           alt=""><span></span></a>
          <div class="box_bot">
            <div class="box_bot_title">Aliquam nibh ante</div>
            <p>Dorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet
              ultricies erat rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada
              nibh odio ut velit</p>
          </div>
        </div>
      </div>
      <div class="grid_glr ">
        <div class="box">
          <a href="images/big3.jpg" class="gall_item"><img src="{{site.url}}{{site.baseurl}}/assets/img/soton.jpg"
                                                           alt=""><span></span></a>
          <div class="box_bot">
            <div class="box_bot_title">Cliqum nibh anteter</div>
            <p>Dorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet
              ultricies erat rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada
              nibh odio ut velit</p>
          </div>
        </div>
      </div>
      <div class="grid_glr ">
        <div class="box">
          <a href="images/big4.jpg" class="gall_item"><img src="{{site.url}}{{site.baseurl}}/assets/img/soton.jpg"
                                                           alt=""><span></span></a>
          <div class="box_bot">
            <div class="box_bot_title">Gyloiqum nibh ante</div>
            <p>Dorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet
              ultricies erat rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada
              nibh odio ut velit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>


