---
layout: page
# The photos related to my life and travel
---

{% include lang.html %}
<style>
  .subtitle {
    font-size: 150%;
    color: var(--sidebar-muted-color);
    margin-top: 0.25rem;
    word-spacing: 1px;
  }

  .hr-twill {
    border: 0;
    padding: 3px;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
  }

</style>

<div class="subtitle">Some photos related to my travel and life</div>

<hr class="hr-twill">

<h2>My Pet</h2>

<section>
  <div>
    <div class="row_grl">
      <div class="grid_glr">
        <div class="box">
          <a href="{{site.url}}{{site.baseurl}}/gallery/cat.html" class="gall_item"><img src="{{site.url}}{{site.baseurl}}/assets/img/gallery/cat.jpg"
                                                           alt="My cat"></a>
          <div class="box_bot">
            <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/cat.html">My cat</a>
            <p>This is my pet cat. Its name is "yu wan". The name means fish ball in Chinese. It's fat and cute. That's the cat in my profile picture.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="hr-twill">

<h2>My Travel in Thailand</h2>

<section>
  <div>
    <div class="row_grl">
      <div class="grid_glr">
        <div class="box">
          <a href="{{site.url}}{{site.baseurl}}/gallery/Phuket.html" class="gall_item"><img src="{{site.url}}{{site.baseurl}}/assets/img/gallery/Phuket.jpg"
                                                                                         alt="Thailand"></a>
          <div class="box_bot">
            <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Phuket.html">Phuket</a>
            <p>These are pictures of my trip to Phuket. I went to Patong Beach, Similan Island, Cat Island and other places. And I did my first underwater dive on Emperor Island.</p>
          </div>
        </div>
      </div>

      <div class="grid_glr">
        <div class="box">
          <a href="{{site.url}}{{site.baseurl}}/gallery/Bangkok.html" class="gall_item"><img src="{{site.url}}{{site.baseurl}}/assets/img/gallery/Bangkok.jpg"
                                                                                            alt="Thailand"></a>
          <div class="box_bot">
            <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Bangkok.html">Bangkok</a>
            <p>These are pictures of my trip to Bangkok. I went to the Grand Palace, the aquarium, the zoo, the Reclining Buddha Temple and other places. And watched Thai opera.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
